*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

    
.lang{
 
    width: 100px;
    height: 40px;
    border: 1px solid white;
    margin-right: 38px;
}

.sign-in{
    width: 140px;
    background-color: red;
    border-color: red;  
}

.main-text{
    width: 780px;
    height: auto;
  
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
    